
 .description-wrapper {
    position: relative; 
  }
  
  .description-wrapper label { 
    position: absolute; // Poziționare absolută pentru etichetă
    top: -20px; // Ajustează poziția verticală a etichetei (poți ajusta această valoare în funcție de preferințe)
    left: 5px; // Ajustează poziția orizontală a etichetei
    background-color: #fff; // Asigură un fundal alb pentru a acoperi textul din caseta de text
    padding: 0 5px; // Adaugă un spațiu între etichetă și caseta de text
    color: #495057; // Ajustează culoarea etichetei, dacă este necesar
    font-size: 0.9em; // Ajustează dimensiunea fontului, dacă este necesar
  }
  
  .description-wrapper textarea {
    width: 35%; // Asigură ca textarea să umple întreaga lățime a containerului
    height: 100px; // Ajustează înălțimea textarea-ului, dacă este necesar
  }

  .form-control{
    margin-left: 15px;
    margin-right: 5px;
  }

  h1{
    margin-left: 15px;
    padding-left: 0px;
    padding-top: 15px;
    padding-bottom: 1px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
  }

  form{
    margin-left: 15px;
    text-align: center;
  }

  input[type="text"]{
    padding: 5px;
    border : 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s;
    width: 25%;
    height: 25px;

    &:focus{
      border-color: #36aab0;
    }
  }

  input[type="text"]::placeholder{
    color: #cccccc;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
  }

  textarea{
    padding: 5px;
    border : 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s;

    &:focus{
      border-color: #36aab0;
    }
  }

  textarea::placeholder{
    color: #cccccc;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
  }

  button{
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    background-color: #36aab0;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.7s;
    width: 150px;
    height: 35px;
    margin: 10px;

    &:hover{
      background-color: #2b7a7f;
    }
  }