
<h1>Add Task</h1><br><br>

<form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input
        type="text"
        id="taskName"
        name="taskName" 
        [(ngModel)]="taskName"
        class="form-control"
        placeholder="Enter task name"
        required
      />
    </div><br>
    <div class="form-group">
      <div class="description-wrapper">
      <textarea
        id="taskDescription"
        name="taskDescription"
        [(ngModel)]="taskDescription"
        class="form-control"
        rows="4"
        placeholder="Enter task description"
      ></textarea>
      </div>
    </div><br>
    <div class="form-group">
      <input
        type="text"
        id="taskAssignedTo"
        name="taskAssignedTo"
        [(ngModel)]="taskAssignedTo"
        class="form-control"
        placeholder="Enter task assigned to"
        required
      />
    </div><br>
    <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>