.task-item {
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
}
.task-item__title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.task-name{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 3px;
}

.task-description{
    font-size: 15px;
    padding-bottom: 6px;
}

.task-status{
    font-weight: bold;
    padding-bottom: 5px;

}

button{
    margin-right: 10px;
}